@import './reset.css';

@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/noto-sans-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-400.woff2') format('woff2');
}

@font-face {
  font-display: block;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/outfit-700.woff2') format('woff2');
}

:root {
  --font-family-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-family-base: 'Noto Sans', var(--font-family-system);
  --font-family-alt: 'Outfit', var(--font-family-system);

  --color-white: #ffffff;
  --color-text: #95aeab;
  --color-accent: #1e4040;
  --color-accent--light: #e6f5e0;
  --color-accent--alt: #be5aed;

  --col-width: 95px;

  --section-margin: 9rem;
}

body {
  font-family: var(--font-family-base);
  height: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-alt);
}

.title {
  font-family: var(--font-family-alt);
  font-weight: 700;
  font-size: 2rem;
  color: var(--color-accent);
}

.icon {
  width: 3rem;
  height: auto;
}

.container {
  width: 100%;
  max-width: calc(var(--col-width) * 12);
  margin: 0 auto;
}

.section__hero {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background-color: #5a6889;
  position: relative;
}

.section__hero__main {
  padding-top: 12rem;
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: calc(var(--col-width) * 8);
}

.section__hero__title {
  font-weight: 700;
  font-size: 6rem;
  color: var(--color-white);
  padding-top: 2rem;
  padding-left: calc(var(--col-width) * 1);
}

.section__hero__names {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-variant: all-small-caps;
  font-size: 2.25rem;
  color: var(--color-white);
  font-weight: 300;
  margin-top: 1.5rem;
  padding-left: calc(var(--col-width) * 2);
}

.section__hero__name {
  display: flex;
  align-items: center;
  line-height: 1;
}

.section__hero__name:before {
  content: '';
  width: 112px;
  height: 1px;
  background-color: var(--color-white);
  margin-right: 1rem;
  margin-top: 10px;
}

.section__hero__blob {
  position: absolute;
  z-index: -1;
  width: 100%;
  max-width: 428px;
}

.section__hero__image {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(80%);
  z-index: 0;
}

.section__hero__blur {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: linear-gradient(
    50.27deg,
    rgba(255, 245, 223, 0.4) 22.42%,
    rgba(255, 255, 255, 0.15) 96.98%
  );
  backdrop-filter: blur(8px);
  z-index: 1;
}

.section__hero__noise {
  background-image: url('../images/noise.svg');
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-blend-mode: overlay;
  opacity: 0.2;
}

.section__hero__divider {
  position: absolute;
  height: auto;
  width: 100%;
  z-index: 10;
  bottom: -1px;
  left: 0;
}

.section__hero__vertical-lines {
  position: absolute;
  height: 100%;
  right: 10%;
  top: 0;
  z-index: 9;
  display: flex;
  gap: 2rem;
}

.section__hero__vertical-line {
  border-left: 1px solid #fff;
  opacity: 0.5;
  height: 100%;
}

.section__intro__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 6rem;
  font-size: 1.5rem;
  line-height: 160%;
  color: var(--color-text);
}

.section__intro__names {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--section-margin);
  padding-top: 6rem;
  margin-bottom: var(--section-margin);
  position: relative;
  overflow: visible;
  margin-right: 2rem;
}

.section__intro__name {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-accent);
}

.section__intro__name span:nth-child(1) {
  font-family: var(--font-family-alt);
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}
.section__intro__name span:nth-child(2) {
  font-size: 1.5rem;
}

.section__intro__ampersant {
  font-size: 20rem;
  color: var(--color-accent--light);
  font-family: var(--font-family-alt);
  font-weight: 700;
  display: block;
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translate(-30%, 0);
}

.section__intro__callout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.section__cards {
  margin-top: var(--section-margin);
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: flex-start;
}

.card {
  padding: 1.5rem;
  background-color: var(--color-accent--light);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
}

.card__photo {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 600px;
  object-fit: cover;
}

.card__title {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  text-align: right;
  color: var(--color-accent--alt);
}

.card__cta-wrapper {
  display: inline-flex;
  gap: 0.375rem;
  align-items: center;
  justify-content: center;
  border: none;
  border-bottom: 1px solid var(--color-accent);
  background-color: transparent;
  color: var(--color-accent);
  padding: 0.5em 0;
  text-decoration: none;
  transition: all 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.card__cta-wrapper:hover,
.card__cta-wrapper:focus {
  color: var(--color-accent--alt);
  border-color: var(--color-accent--alt);
}

.card__cta-wrapper > svg {
  width: 1rem;
  margin-top: 4px;
  height: auto;
}

.section__table {
  margin-top: var(--section-margin);
}

.section__table__header {
  margin-bottom: 2.5rem;
}

.table {
  width: 100%;
  display: grid;
  gap: 0.75rem 3rem;
  grid-template-columns: 1fr auto auto;
  justify-items: center;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--section-margin);
}

.table-header {
  padding: 0.75rem 0;
  font-weight: 600;
  color: var(--color-accent);
  text-align: center;
}

.table-item {
  line-height: 1;
}

.table-item__first-text {
  text-align: left;
  width: 100%;
}

.table-divider {
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--color-accent--light);
  grid-column: span 3;
}

footer {
  padding: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-accent);
}

/* PHONE VIEW */
@media screen and (max-width: 639px) {
  :root {
    --col-width: calc(100% - 2rem);
    --section-margin: 5rem;
  }

  .container {
    max-width: var(--col-width);
  }

  .title {
    font-size: 1.5rem;
  }

  .icon {
    width: 1.5rem;
  }

  .section__hero {
    height: 80vh;
    height: 80dvh;
  }

  .section__hero__title {
    font-size: 3rem;
    padding-left: 2rem;
  }

  .section__hero__names {
    padding-left: 3rem;
  }

  .section__hero__name {
    font-size: 1.5rem;
  }

  .section__hero__name:before {
    width: 40px;
    margin-top: 8px;
  }

  .section__hero__blob {
    max-width: 250px;
  }

  .section__hero__vertical-lines {
    display: none;
  }

  .section__intro__names {
    flex-direction: column;
    margin-right: 0;
  }

  .section__intro__name {
    gap: 0.75rem;
    flex-direction: column;
  }

  .section__intro__name span:nth-child(1) {
    font-size: 2rem;
  }

  .section__intro__name span:nth-child(2) {
    font-size: 1.25rem;
  }

  .section__intro__ampersant {
    font-size: 20rem;
    font-weight: 700;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .section__intro__container {
    gap: 1.5rem;
    margin-bottom: 3rem;
    margin-top: 6rem;
    font-size: 1.125rem;
    line-height: 150%;
  }

  .section__cards {
    flex-direction: column;
    gap: 3rem;
    justify-content: stretch;
    align-items: stretch;
  }

  .section__table__header {
    margin-bottom: 1.5rem;
  }

  .section__table {
  }

  .table {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  .table-header {
    padding: 1rem 0;
  }

  .table-header:first-of-type {
    display: none;
  }

  .table-item__first-text {
    text-align: center;
    width: 100%;
    grid-column: span 2;
    padding: 0.5rem;
    background-color: var(--color-accent--light);
    color: var(--color-accent);
  }

  .table-divider {
    display: none;
  }
}
